body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background: rgb(243, 243, 243);
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 755px;
    background: white;
    margin: auto;
    border-radius: 5px;
    padding: 30px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
}
.info div{
    text-align: center;
    padding: 16px 24px;
    border-radius: 10px;
    background: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.info div .title{
    margin: 0;
    font-size: 0.8rem;
    color: #9b9b9b;
    font-weight: 700;
}
.info div .context{
    margin: 0;
    font-size: 1.3rem;
    color: #474747;
    font-weight:600;
}
.screen{
    position: relative;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: rgb(137, 140, 155);    
    border-radius: 5px;
}
.screen .top{
    width: 100%;
    height: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgb(225, 227, 230);
}
.game-box{
    width: 65%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin: auto;
    z-index: 2;
}
.game-box:hover{
    cursor: pointer;
}
.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.btn{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.89rem;
    font-weight: 500;
    transition: all 0.2s ease;
}
.refresh{
    background: #3e4172;
    color: white;
}
.btn:hover{
    transform: translateY(-1px);
}
.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #20233d;
}
.to-center{
    position: absolute; 
    top: 55%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.seesaw{
    width: 400px;
    height: 18px;
    background: #63472d;
    z-index: 1;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -100%) rotate(0deg);
    transform-origin: center center;
    transition: transform 0.2s ease;
}
.ball{
    background: #ff4d4d;
    border-radius: 50%;
    position: absolute;
    top: 46.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: all 0.2s ease; */
}