body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background: rgb(243, 243, 243);
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 755px;
    background: white;
    margin: auto;
    border-radius: 5px;
    padding: 30px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
}
.info div{
    text-align: center;
    padding: 16px 24px;
    border-radius: 10px;
    background: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.info div .title{
    margin: 0;
    font-size: 0.8rem;
    color: #9b9b9b;
    font-weight: 700;
}
.info div .context{
    margin: 0;
    font-size: 1.3rem;
    color: #474747;
    font-weight:600;
}
.screen{
    position: relative;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.screen .top{
    width: 100%;
    height: 400px;
    border-radius: 5px;
    background: rgb(225, 227, 230);
}
.screen .bottom{
    background: rgb(137, 140, 155);
    min-height: 50px;
    width: 94.7%;
    position: absolute;
    bottom: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 21;
}
.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.btn{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.89rem;
    font-weight: 500;
    transition: all 0.2s ease;
}
.refresh{
    background: #3e4172;
    color: white;
}
.btn:hover{
    transform: translateY(-1px);
}