.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    user-select: none;
}
.btn{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.89rem;
    font-weight: 500;
    transition: all 0.2s ease;
    user-select: none;
}
.btn:hover{
    transform: translateY(-1px);
}
.refresh{
    background: #3e4172;
    color: white;
}