.ball{
    background: #ff4d4d;
    border-radius: 50%;
    position: absolute;
    top: 46.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
    z-index: 2;
    user-select: none;
}
.ball-on-seesaw{
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    font-weight: 700;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 3;
    transition: all 0.5s ease-in-out;
    user-select: none;
}