.info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    user-select: none;
}
.info div{
    text-align: center;
    padding: 16px 24px;
    border-radius: 10px;
    background: rgb(247, 247, 247);
    border: 1px solid  rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.info div .title{
    margin: 0;
    font-size: 0.8rem;
    color: #9b9b9b;
    font-weight: 700;
}
.info div .context{
    margin: 0;
    font-size: 1.3rem;
    color: #474747;
    font-weight:600;
    transition: all 0.5s ease-in-out;
}