.logs{
    height: 150px;
    overflow-y: auto;
    background: rgb(243, 243, 243);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: start;
    gap: 6px;
}
.log{
    font-size: 0.85rem;
    line-height: 1.4;
    color: #333;
    width: 100%;
    background: white;
    width: fit-content;
    padding: 6px 10px;
    box-shadow: 0 0 5px rgba(0, 0,0, 0.1);
    transition: all 0.3s ease;
    border-radius: 7px;
    border-left: blue 3px solid;
}