
.screen{
    position: relative;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: rgb(137, 140, 155);    
    border-radius: 10px;
}
.screen .top{
    width: 100%;
    height: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgb(225, 227, 230);
}
.game-box{
    width: 500px;
    height: 100%;
    border-radius: 5px;
    margin: auto;
    position: relative;
    z-index: 2;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative;
}
.game-box:hover{
    cursor: pointer;
}
.seesaw{
    width: 400px;
    height: 18px;
    background: #63472d;
    z-index: 1;
    transform-origin: center center;
    transition: transform 0.2s ease;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #20233d;
}